<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite">
    <test name="Application Test Adil">
        <classes>
            <class name="TestCases.TestNG.TestNG_TestClass1"></class>
            <class name="TestCases.TestNG.TestNG_TestClass2"></class>
        </classes>
    </test>
</suite>